//===============================================================================
// VARIABLES
//===============================================================================
$cover: darken(#B2D2DE, 3);
$binding: #8DBCCF;

$paper: darken(#E0F7FF, 3);
$ink: darken($cover, 40);
$link: $ink;
$header: $ink;

$body-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 