//===============================================================================
// VARIABLES
//===============================================================================
$cover: #B2D2DE;
$binding: #8DBCCF;

$paper: hsl(185, 100, 92);
$paper-2: hsl(210, 65, 92);
$ink: darken($cover, 40);
$link: $ink;
$header: $ink;

$body-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 